.thumbnail {
  position: relative;
  display: block;
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  background: var(--white);

  video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    transition: opacity 0.15s;
  }

  a:hover & video {
    opacity: 0.85;
  }
}

.badge {
  position: absolute;
  left: 0.5rem;
  bottom: 0.5rem;
  display: grid;
  place-items: center;
  width: 1.75rem;
  height: 1.75rem;
  padding: 0;
  border: 1px solid var(--black);
  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.4);
  color: var(--black);

  svg {
    margin-left: 2px;
    path {
      fill: var(--black);
    }
  }
}
