.table {
  display: grid;
  border: 1px solid;
  border-bottom: none;
  grid-template-columns: 1fr;
  max-width: 35rem;
  align-items: center;
  margin: 1rem 0;

  > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid;

    > p,
    > div {
      padding: 0.25rem;
      display: flex;
      align-items: flex-start;

      &:first-child {
        border-right: 1px solid;
      }
    }
  }
}

.grid {
  display: grid;
  font-size: 0.875rem;
  > div {
    display: grid;
    grid-template-columns: 4rem 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    padding: 5rem 0;
    > div:first-child,
    > div:nth-child(2) {
      text-align: right;
    }
  }
}
