:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h3 {
  font-weight: 400;
  margin: 0 0 0.5rem 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.parts-and-connections svg {
  width: 100%;
  height: auto;
  position: absolute;
}

.parts-and-connections svg path {
  stroke: #e6e6e6;
}

.parts-and-connections svg path:hover {
  stroke: black;
}

.logo {
  width: 2rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
